{% extends 'base.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('login_css') }}
    {% endblock %}
{% block title %}Log in!{% endblock %}

{#<form method="post">#}
{#    {% if error %}#}
{#        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#    {% endif %}#}

{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}

{#    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{#    <label for="inputUsername">Username</label>#}
{#    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>#}
{#    <label for="inputPassword">Password</label>#}
{#    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>#}

{#    <input type="hidden" name="_csrf_token"#}
{#           value="{{ csrf_token('authenticate') }}"#}
{#    >#}

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

{#    <button class="btn btn-lg btn-primary" type="submit">#}
{#        Sign in#}
{#    </button>#}
{#</form>#}




{% block body %}
    <div class="ui grid" style="margin-top: 18em;">
        <div class="eight wide column" style="text-align: center;">
            <div class="loginWrapper">
                <h2 class="ui blue image header">
                    <div class="content loginHeader">
                        HHotel CRM
                    </div>
                </h2>
                <form class="ui large form" method="post" action="{{ path('app_login') }}">
                    <div class="ui  segment loginSegment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                                       autocomplete="username" placeholder="{% trans %}Login{% endtrans %}" required
                                       autofocus>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" id="inputPassword"
                                       autocomplete="current-password" placeholder="{% trans %}Password{% endtrans %}"
                                       required>
                            </div>
                        </div>
                        <button class="ui fluid large blue button logButton" type="submit">Войти</button>
                    </div>


                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>
            </div>
        </div>
        <div class="eight wide column"></div>
    </div>
{% endblock %}