{% extends 'base.html.twig' %}
{% block header %}<h2 class="ui header center aligned">Сотрудник</h2>{% endblock %}
{% block title %}Сотрудники - {{ parent()}}{% endblock %}
{% block body %}
        <dump>{{ dump(users) }}</dump>
    <div class="ui grid center aligned">
        <div class="twelve wide column">
            <table class="ui table selectable striped " id="users">
                <thead>
                <tr>
                    <th>Имя</th>
                    <th>Должность</th>
                    <th>Телефон</th>
                    <th>Д.Р.</th>
                    <th>Отключен</th>
                    {% if is_granted("USERS_EDIT") %}
                        <th>Логин</th>
                        <th>Партнер</th>
                        <th></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.fullName }}</td>
                        <td>{{ user.getRolesString() }}</td>
                        <td>{{ user.phone }}</td>
                        <td>
                            {{ user.getBirth() }}
                        </td>
                        <td>{{ user.dtend ? '<a class="ui red label">Да</a>' : "<a class='ui green label'>Нет</a>" }}</td>
                        {% if is_granted("USERS_EDIT") %}
                            <td>
                                <a class="ui  label">{{ user.username }}</a>
                            </td>
                            <td>
                                {{ user.partnerObject.name ?: '' }}
                            </td>
                            <td class="editUser" data-iduser="{{ user.id }}">
                                <i class="ellipsis horizontal icon"></i>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="ui modal" id="editUserModal">
        <i class="close icon"></i>
        <div class="header">
            Сотрудник
        </div>
        <div class="content">
            <div class="ui form">
                <input type="hidden" name="id" id="id">
                <div class="field">
                    <label>Имя</label>
                    <input type="text" name="name" id="name" placeholder="Имя">
                </div>
                <div class="field">
                    <label>Должность</label>
                    <div class="ui selection multiple dropdown">
                        <input type="hidden" name="roles" id="roles">
                        <i class="dropdown icon"></i>
                        <div class="default text">Должность</div>
                        <div class="menu">
                            {% for role in roles %}
                                <div class="item" data-value="{{ role.name }}">{{ role.name }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Телефон</label>
                    <input type="text" name="phone" id="phone" placeholder="Телефон">
                </div>
                <div class="field">
                    <label>День рождения</label>
                    <input type="text" name="birth" id="birth" placeholder="01.01.1990">
                </div>
                {% if is_granted("USERS_EDIT") %}
                    <div class="field">
                        <label>Отключен</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="dtend" id="dtend">
                            <i class="dropdown icon"></i>
                            <div class="default text">Отключен</div>
                            <div class="menu">
                                    <div class="item" data-value="1">Да</div>
                                    <div class="item" data-value="0">Нет</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Логин</label>
                        <input type="text" name="username" id="username" placeholder="Логин">
                    </div>
                    <div class="field">
                        <label>Пароль</label>
                        <input type="text" name="password" id="password" placeholder="Пароль">
                    </div>
                    <div class="field">
                        <label>Партнер</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="partner" id="partner">
                            <i class="dropdown icon"></i>
                            <div class="default text">Партнер</div>
                            <div class="menu">
                                {% for partner in partners %}
                                    <div class="item" data-value="{{ partner.id }}">{{ partner.name }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <button class="ui positive button right floated saveUser">Сохранить</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts2 %}
    {{ parent() }}
    <script>
        let users = JSON.parse('{{ usersJSON|raw }}');
        let saveUserPath = '{{path('admin_save_user')}}';
        console.log(users)
    </script>
    {{ encore_entry_script_tags('users') }}
{% endblock %}




