<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HHotel{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('fomantic_styles') }}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('font_roboto') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('fomantic_javascripts') }}
    {% endblock %}
</head>
<body>

{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    {% block menu %}
        {{ include('menu.html.twig') }}
    {% endblock %}

{% endif %}
{% block header %}
{% endblock %}
<div class="body-container">
    {% if error ?? false %}
        <script>
            swal('Ошибка', '{{ error.messageKey|trans(error.messageData, 'security') }}', 'error');
        </script>
    {% endif %}
    {% block body %}
    {% endblock %}
</div>
{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                    <div id="footer-copyright" class="col-md-6">

                    </div>
                    <div id="footer-resources" class="col-md-6">

                    </div>
                </div>
            </div>
        </footer>

        <div class="ui modal" id="imgShowModal">
            <i class="close icon"></i>
            <div class="image content">
                <div class="image" style="width: 100%;">
                    <img src="" class="ui rounded image" id="modal-img">
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}
{% block javascripts2 %}
    <script>
        $('.imgShow').on('click', function () {
            console.log('sdsds')
            var modal = $('#imgShowModal'),
                modalImg = $('#modal-img')
            modalImg.attr('src', $(this).attr('src'));
            modal.modal('show');
        });

        $('img').on("error", function() {
            $(this).attr('src', '{{ no_image }}');
        });
        $('.ui.sidebar')
            .sidebar('attach events', '.toc.item')
        ;
    </script>
{% endblock %}
</body>
</html>
